
<div class="section-wrapper">
    <section class="section about" id="about">
        <div>
            <div class="section-heading" id="about-text">Welcome to Boat Corporation's game</div>

            <div class="about-grid">
                    <p class="paragraph-text center-align">
                        This is our website for our Boat Game's documentation - version 1 and version 2.
                        <h2>New documents - click the links below to be taken to the relevant document</h2>
                        <a href="assets/files/new/Architecture.pdf"><h3>Architecture</h3></a>
                        <a href="assets/files/new/Changereport.pdf"><h3>Change Report</h3></a>
                        <a href="assets/files/new/continuousintegration.pdf"><h3>Continuous Integration Report</h3></a>
                        <a href="assets/files/new/implementation.pdf"><h3>Implementation</h3></a>
                        <a href="assets/files/new/methodplanning.pdf"><h3>Method Planning Report</h3></a>
                        <a href="assets/files/new/requirements.pdf"><h3>Requirements</h3></a>
                        <a href="assets/files/new/riskregister.pdf"><h3>Risk Register Report</h3></a>
                    </p>
            </div>
            </div>
        </div>
    </section>
</div>
